.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
}

.app__body {
    display: flex;
    background-color: #000;
    /* Change to white color: white; */
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(255, 255, 255, 0.75);
    /* Change to (0, 0, 0,) */
}